<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.melody.beatbangul.common.model.MyMap" alias="MyMap"/>
        <typeAlias type="com.melody.beatbangul.schedule.model.ScheduleDTO" alias="Schedule"/>
        <typeAlias type="com.melody.beatbangul.login.model.UserDTO" alias="User"/>
    </typeAliases>

</configuration>